<ion-header [translucent]="true">
  <ion-toolbar>
    <img slot="start" class="logo_rep" src="../assets/images/sem_long_logo.png">
    <ion-title class="title_rep">Asignados</ion-title>
    <ion-buttons slot="end">
      <ion-button class="order_button" (click)="cargarDatos()"><ion-icon name="reload-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let dato of datos; let i = index" [ngClass]="getPrioridadClass(dato.prioridad_id_prioridad)">
    <img
      [src]="dato.imagen ? 'data:image/png;base64,' + dato.imagen : 'https://ionicframework.com/docs/img/demos/card-media.png'" />
    <ion-card-header>
      <ion-card-title>{{ dato.titulo }}</ion-card-title>
      <ion-card-subtitle>ID: #{{ dato.id_reporte }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Descripción: {{ dato.descripcion }}</p>
      <p>Fecha: {{ dato.fecha_ingreso }}</p>
      <p>Piso: {{ dato.piso_id_piso }}</p>
      <p>Prioridad: {{ dato.prioridad_id_prioridad }}</p>
      <p>Creado por: {{ dato.usuario_usuario }}</p>

      <ion-button id="open-modal-{{i}}"  (click)="openModal(dato.id_reporte)">Solucionar</ion-button>
      <ion-modal #modal trigger="open-modal-{{i}}" (willDismiss)="onWillDismiss($event)" style="width: 85%; height: 70%; max-width: 85%; max-height: 85%; margin: auto;">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Solucionar reporte</ion-card-title>
                <ion-card-subtitle>Descripcion de resolucion</ion-card-subtitle>
                <ion-input fill="outline" placeholder="Describe lo realizado" [(ngModel)]="descripcion" name="descripcion"required></ion-input>
              </ion-card-header>
            
              <ion-card-content>
                <ion-card-title>Agregar insumos utilizados</ion-card-title>
                <ion-card-subtitle>Seleccione insumo</ion-card-subtitle>
                <ion-select placeholder="insumo" fill="outline" class="custom-select" [(ngModel)]="combobox"
                required>
                <ion-select-option *ngFor="let option of options" [value]="option">
                  {{ option.label }}
                </ion-select-option>
              </ion-select>
              <ion-card-subtitle>Cantidad utilizada</ion-card-subtitle>
              <ion-input fill="outline" placeholder="Cantidad" [(ngModel)]="cantidad" name="cantidad"
              required></ion-input>

              </ion-card-content>
            </ion-card>
            <ion-button (click)="agregarElemento()" expand="full">Agregar</ion-button>
            <ion-list>
              <ion-item *ngFor="let elemento of elementos">
                Insumo: {{ elemento.label.label }} - Cantidad: {{ elemento.cantidad }}
              </ion-item>
            </ion-list>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Volver</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button *ngIf="mostrarConfirmar" (click)="confirm()" [strong]="true">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>