<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="reportes">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asignados">
      <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
      <ion-label>Asignados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportar">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Reportar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insumos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Insumos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="confirmarCerrarSesion()">
      <ion-icon aria-hidden="true" name="log-out"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
    

  </ion-tab-bar>

</ion-tabs>