<ion-header [translucent]="true">
  <ion-toolbar>
    <img slot="start" class="logo_rep" src="../assets/images/sem_long_logo.png">
    <ion-title class="title_rep">Reportes</ion-title>
    <ion-buttons slot="end"> 
      <ion-button class="order_button" (click)="cargarDatos()"><ion-icon name="reload-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><br>
  <ion-title class="ion-text-center">Bienvenido ¡{{ username }}!</ion-title><br>

  <ion-card *ngFor="let dato of datos" [ngClass]="getPrioridadClass(dato.prioridad_id_prioridad)">
    <img [src]="dato.imagen ? 'data:image/png;base64,' + dato.imagen : 'https://ionicframework.com/docs/img/demos/card-media.png'" />
    <ion-card-header>
      <ion-card-title>{{ dato.titulo }}</ion-card-title>
      <ion-card-subtitle>#{{ dato.id_reporte }} fecha creacion: {{ dato.fecha_ingreso }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Descripción: {{ dato.descripcion }}</p>
      <p>Piso: {{ dato.piso_id_piso }}</p>
      <p>Prioridad: {{ dato.prioridad_id_prioridad }}</p>
      <p *ngIf="isEstadoAbierto(dato.estado_r_id_estado)">Estado: Abierto</p>
      <p *ngIf="isEstadoCerrado(dato.estado_r_id_estado)">Estado: Cerrado</p>
      <p>Creado por: {{ dato.usuario_usuario }}</p>
      <p *ngIf="dato.asignado !== ''">Asignado a {{dato.asignado}}</p>
      <p *ngIf="dato.asignado === ''">Sin asignar</p>
    </ion-card-content>
  </ion-card>
</ion-content>
